<script>
  Stripe.setPublishableKey('<%= ENV["STRIPE_TEST_PUBLISHABLE_KEY"] %>');
</script>

<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.sign_up', :default => "Sign up") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form", class: 'cc_form' }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <%= fields_for :tenant do |f| %>
        <div class="form-group col-sm-6 no-padding-left">
          <%= f.label :name, "Oganization" %>
          <span class="description">(Unique name for your group or organization for the new account)</span>
          <%= f.text_field :name, required: true, class: "form-control" %>
        </div>
        <div class="form-group col-sm-6 no-padding-right">
          <%= f.label :plan %>
          <%= f.select :plan, options_for_select(Plan.options, params[:plan]), {},  required: true, class: "form-control" %>
        </div>
        <%= fields_for :payment do |g| %>
          <div class="row col-sm-12">
            <div class="form-group col-sm-4 no-padding-left">
              <%= g.label :card_number, "Card Number", data: { stripe: 'label' } %>
              <%= g.text_field :card_number, class: "form-control", required: true, data: { stripe: 'number' } %>
            </div>
            <div class="form-group col-sm-2">
              <%= g.label :card_cvv, "Card CVV", data: { stripe: 'label' } %>
              <%= g.text_field :card_cvv, class: "form-control", required: true, data: { stripe: 'cvv' } %>
            </div>
            <div class="col-sm-6 form-group">
              <div class="col-sm-12">
                <%= g.label :card_expires, "Card Expires", data: { stripe: 'label' } %>
              </div> 
              <div class="col-sm-3">
                <%= g.select  :card_expires_month, 
                              options_for_select(Payment.month_options),
                              { include_blank: 'Month' },
                              "data-stripe" => "exp-month",
                              class: "form-control", required: true %>
              </div> 
              <div class="col-sm-3">
                <%= g.select  :card_expires_year, 
                              options_for_select(Payment.year_options.push),
                              { include_blank: 'Year' }, 
                              "data-stripe" => "exp-year", 
                              class: 'form-control', required: true %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
